* {
   box-sizing: border-box;
}

html, ul, li, main, canvas, footer, header, nav, section, body, div, span, html, 
a, img, form {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
}

footer, header, nav, section, main{
   display: block;
}

body{
   line-height: 1;
}

ul, li {
   list-style: none;
}

a {
   text-decoration: none;
}

a:visited {
   color: initial;
}

body {
   background-color: rgb(46, 46, 56);
}

.nav-container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   background: rgb(12,152,185);
   background: linear-gradient(140deg, rgba(12,152,185,1) 0%, rgba(51,190,109,1) 100%);

   margin: 10px;
   padding: 10px;

   border-radius: 30px;
}

.logo {
   margin-inline-start: 25px;
}

.logo img {
   width: 150px;
}

.nav-links > ul {
   display: flex;
   flex-direction: row;

   margin-inline-end: 25px;
}

.nav-links > ul > li:not(:last-child) {
   margin-inline-end: 15px;
}

.nav-links a{
   font-family: Impact, 'Arial Narrow Bold';
   font-size: 1.1rem;
   font-weight:200;
   color: white;
}

main {
   margin: 10px;
   padding: 10px;

   background-color: rgb(62, 62, 73);
   border-radius: 5px;
}

.meme-filter {
   margin-bottom: 15px;
}

.template-gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-auto-rows: minmax(100px, 1fr);
   gap: 10px;
}

.template-gallery img {
   width: 100%;
   border-radius: 10px;
}

.hidden {
   display: none;
}

.show-editor {
   display: flex;
   justify-content: center;
}

.generator-container {
   display: flex;
   justify-content: center;
}

.meme-generator {
   max-width: 80%;
}

.controllers {
   margin-left: 10px;
}

/******* CANVAS GRID ********/

.canvas-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(5, 1fr);
   align-items: center;
   justify-items: center;
}

.text-input {
   grid-column: 1/-1;
   grid-row: 1;
   height: 50%;
   align-self: center;
}

.btn-increase-font-size {
   grid-column: 1;
   grid-row: 3;
}

.btn-decrease-font-size {
   grid-column: 2;
   grid-row: 3;
}

.btn-align-left {
   grid-column: 3;
   grid-row: 3;
}

.btn-align-center {
   grid-column: 4;
   grid-row: 3;
}

.btn-align-right {
   grid-column: 5;
   grid-row: 3;
}

.font-select {
   grid-column: 1/span 3;
   grid-row: 4;
   height: 50%;
}

.stroke-selector {
   grid-column: 4;
   grid-row: 4;
}

.fill-selector {
   grid-column: 5;
   grid-row: 4;
}

.btn-save {
   grid-column: 1/3;
   grid-row: 5;
}
/*********************************/


.btn {
   width: 35px;
   height: 35px;
}

.btn img {
   width: 100%;
}

.btn-save {
   width: 80px;
}

input[type="color"] {
   width: 35px;
   height: 25px;
}

.stroke-selector, .fill-selector {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* SHARE MODAL */

.modal-container {
   display: flex;
   justify-content: center;

   margin-top: 15px;
}

.modal-container img {
   width: 25px;
   height: 25px;
}

.sharing-card {
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   background: rgb(12,152,185);
   background: linear-gradient(140deg, rgba(12,152,185,1) 0%, rgba(51,190,109,1) 100%);

   border-radius: 15px;

   height: 80px;
   width: 250px;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sharing-card > .btn:hover {
   background-color: linen;
   border-radius: 5px;
   box-shadow: 2px 2px 2px 2px rgba(255,255,255,0.4);
}

.hide-modal {
   display: none;
}

/* BURGER MENU */

.hamburger {
   display: none;
}
 
.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px 10px;
   transition: all 0.3s ease-in-out;
   background-color: linen;
}

@media (max-width: 768px) {
   .nav-links {
      position: fixed;
      justify-content: space-evenly;
      align-items: center;
      right: -100%;
      top: 4.5rem;
  
      width: 95%;
      height: fit-content;
      border-radius: 15px;
  
      text-align: center;
      background: rgb(12,152,185);
      background: linear-gradient(140deg, rgba(12,152,185,1) 0%, rgba(51,190,109,1) 100%);
  
      z-index: 1000;
      transition: 0.3s;
   }

   .nav-links ul {
      flex-direction: column;
      margin: 0;
   }

   .nav-links ul > li:not(:last-child) {
      margin: 0;
   }

   .nav-links li {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 150px;
   }

   .nav-links li:hover {
      background-color: rgb(62, 62, 73);
   }

   .nav-links li:first-child:hover {
      border-radius: 15px 15px 0 0;
   }

   .nav-links li:last-child:hover {
      border-radius: 0 0 15px 15px;
   }
  
   .nav-links.active {
      right: 0;
      margin: 0 14px;
   }

   .hamburger {
      display: block;
      cursor: pointer;
   }
  
   .hamburger.active .bar:nth-child(2) {
      opacity: 0;
   }
  
   .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
   }
  
   .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
   }

   .generator-container, .meme-generator {
      flex-direction: column;
      align-items: center;
   }
}

@media (max-width: 550px) {
   .generator-container, .meme-generator {
      flex-direction: column;
      align-items: center;
   }
}